{:tasks
 {compile (clojure "-T:build java-compile")
  test (clojure "-X:test")
  lint (clojure "-T:build lint")
  deploy (clojure "-T:build deploy")
  install (clojure "-T:build install")
  update-documents (clojure "-T:build update-documents")
  bump-major-version (clojure "-T:build bump-major-version")
  bump-minor-version (clojure "-T:build bump-minor-version")
  bump-patch-version (clojure "-T:build bump-patch-version")
  release (do (run 'lint)
              (run 'compile)
              (run 'test)
              (run 'install))
  publish (do (run 'release)
              (run 'update-documents)
              (shell "git add .")
              (shell "git commit -m \"Prepared for new release.\"")
              (shell "git push")
              (run 'deploy))
  publish-patch (do (run 'bump-patch-version)
                    (run 'publish))
  publish-minor (do (run 'bump-minor-version)
                    (run 'publish))
  publish-major (do (run 'bump-major-version)
                    (run 'publish))}}
