{:tasks
 {compile (clojure "-T:build java-compile")
  test (clojure "-X:test")
  lint (clojure "-T:build lint")
  deploy (clojure "-T:build deploy")
  install (clojure "-T:build install")
  release (do
            (run 'lint)
            (run 'compile)
            (run 'test)
            (run 'install))}}
